{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title> Produto </title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
  <h1> Produto ID {{ produto.id }}: </h1>
  <table>
          <thead>
              <tr>
                  <th> Produto </th>
                  <th> Preço </th>
                  <th> Estoque </th>
              </tr>
          </thead>
          <tbody>
                  <tr>
                      <!-- Acessando dados do produto recebido como parâmetro ID passado na URL para consulta. -->
                      <td> {{ produto.nome }} </td>
                      <td> {{ produto.preco }} </td>
                      <td> {{ produto.estoque }} </td>
                  </tr>
          </tbody>
      </table>

</body>
</html>